@using ITTasks.Models.DTOS.Tasks;
@model ITTaskCreateDto
@using System.Data;
@using ChartDirector;


@section Styles{
	<link rel="stylesheet" type="text/css" href="~/lib/datatables/datatables.min.css" />
	<link href="~/lib/pwt.datepicker/dist/css/persian-datepicker.min.css" rel="stylesheet" />
	<link href="~/lib/pwt.datepicker/dist/css/persian-datepicker.css" rel="stylesheet" />
	@*<link rel="stylesheet" href="~/lib/data-tables/datatables.min.css" asp-append-version="true" />*@
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
	<link href="~/lib/select2/dist/css/select2.min.css" rel="stylesheet" />
}


<style>
	body {
		background-color: #fbfbfb;
	}




	.sidebar .active {
		border-radius: 5px;
		box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
	}

	.sidebar-sticky {
		position: relative;
		top: 0;
		height: calc(100vh - 48px);
		padding-top: 0.5rem;
		overflow-x: hidden;
		overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
	}

	/*select,
				.select2 {
					width: auto;
					margin: 0 auto;
					border-radius: 0 !important;
					display: block;
				}

				.select2-container .select2-selection {
					height: 60px;
					overflow: scroll;
				}

				.select2-container--default .select2-selection--multiple {
					border-radius: 0;
					line-height: 30px;
					font-size: 14px;
					border: 1px solid #fafafa;
				}

				form {
					background: #f0f0f0;
					padding: 20px 0;
					width: 100%;
				}

				button {
					width: 90%;
					margin: 20px auto 0;
					line-height: 30px;
					border-radius: 0;
					background: #fab100;
					display: block;
					border: none;
					color: #ffffff;
					font-size: 14px;
				}*/
	.select2-container .select2-selection {
		height: 20px;
		overflow: auto;
	}

	.vh-20 {
		height: 20vh;
	}

	.vh-30 {
		height: 30vh;
	}

	.vh-40 {
		height: 40vh;
	}

	.vh-50 {
		height: 50vh;
	}


	#sidebarMenu {
		width: 240px;
		z-index: 600;
		box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
		direction: rtl;
	}



	.border-radius-5 {
		border-radius: 5px;
	}

	.border-radius-10 {
		border-radius: 10px;
	}

	.border-radius-15 {
		border-radius: 15px;
	}

	.border-radius-20 {
		border-radius: 20px;
	}

	.border-radius-25 {
		border-radius: 25px;
	}

	.border-radius-30 {
		border-radius: 30px;
	}

	.margin-auto{
		margin:auto;
	}
</style>


<!--Main Navigation-->
<header>
	<!-- Sidebar -->
	<!-- Sidebar -->
</header>
<!--Main Navigation-->
<!--Main layout-->
<div class="container-fluid pt-4  d-flex flex-row flex-wrap">


	<div class="col-12 vh-30">
        @*@{
			var myChart = new XYChart(450,450).
            .AddTitle("Chart Title")
			.AddSeries(
			name: "Employee",
			xValue: new[] { "Peter", "Andrew", "Julie", "Mary", "Dave" },
			yValues: new[] { "2", "6", "4", "5", "3" })
			.Write();
		}*@
		<table class="columns margin-auto">
			<tr>
				<td><div id="piechart_div" style="border: 1px solid #ccc"></div></td>
				<td><div id="piechart_div_un" style="border: 1px solid #ccc"></div></td>
				<td><div id="column_div_u" style="border: 1px solid #ccc"></div></td>
				<td><div id="barchart_div" style="border: 1px solid #ccc"></div></td>
				
			</tr>
		</table>
	</div>

	<div class="col-3">
		<nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white border-radius-5 vh-50">
			<div class="position-sticky">
				<div class="list-group list-group-flush mx-3 mt-4">
					<a href="/Reports/Reporting" class="list-group-item list-group-item-action py-2 ripple active my-1">
						<i class="fas fa-chart-area fa-fw me-3"></i><span>گزارش گیری</span>
					</a>


					<label class="small opacity-75 my-1">اسپرینت</label>
					<select id="floatingSelect" class="js-example-basic-multiple js-example-tokenizer" name="states[]" multiple="multiple" style="overflow:auto"
							asp-for="SprintId" asp-items="@(new SelectList(Model.Sprints.AsEnumerable(),"Id","Title",Model.SprintId))">
					</select>




					<a href="#" class="list-group-item list-group-item-action py-2 ripple">
						<i class="fas fa-chart-line fa-fw me-3"></i><span>واحد</span>
					</a>
					<a href="#" class="list-group-item list-group-item-action py-2 ripple">
						<i class="fas fa-chart-pie fa-fw me-3"></i><span>کاربر</span>
					</a>
					<a href="#" class="list-group-item list-group-item-action py-2 ripple">
						<i class="fas fa-chart-bar fa-fw me-3"></i><span>نوع تسک</span>
					</a>
					<a href="#" class="list-group-item list-group-item-action py-2 ripple">
						<i class="fas fa-globe fa-fw me-3"></i><span>از تاریخ</span>
					</a>
					<a href="#" class="list-group-item list-group-item-action py-2 ripple">
						<i class="fas fa-building fa-fw me-3"></i><span>تا تاریخ</span>
					</a>
					<a href="#" class="list-group-item list-group-item-action py-2 ripple">
						<button id="excel-btn" class="btn btn-warning">خروجی اکسل
						</button>
						</a>
					
				</div>
			</div>
		</nav>
	</div>
	<div id="report-content" class="col-9 border-radius-5">
	</div>
	

</div>


<!--Main layout-->
@section Scripts {
	<script type="text/javascript" src="~/lib/datatables/datatables.min.js"></script>
	<script type="text/javascript" src="~/js/datatable.js"></script>
	@*<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>*@
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script src="~/lib/select2/dist/js/select2.min.js"></script>

	<script type="text/javascript">

		$("#floatingSelect").on("change", function () {
			search();

		})

		$("#excel-btn").on("click", function(){
			let mydata = {
				sprintIds: $("#floatingSelect").val()
			}

			let json = JSON.stringify(mydata);

			$.ajax({
				type: "POST",
				url: "/Repots/GetTasksExcelUrl",
				data: json,
				contentType: 'application/json; charset=utf-8',
				success: function (data) {
					window.open(data)
				},
				error: function (err) {
					alert("error");
					console.log(err);
				}
			});
		})

		function search() {

			let mydata = {
				sprintIds: $("#floatingSelect").val()
			}

			let json = JSON.stringify(mydata);

			//console.log(json);

			$.ajax({
				type: "POST",
				url: "/Reports/Reports_Partial",
				data: json,
				contentType: 'application/json; charset=utf-8',
				success: function (data) {
					//console.log(data);
					$("#report-content").html(data);
				},
				error: function (err) {
					alert("error");
					console.log(err);
				}
			});

		}


		//$("document").ready(function () {
		//	$('#tab').DataTable();
		//});

		function arrayToList(array) {
			let list = null;
			for (let i = array.length - 1; i >= 0; i--) {
				list = { value: array[i], rest: list };
			}
			return list;
		}

		$(document).ready(function () {
			$('.js-example-basic-multiple').select2();
		});

		$(".js-example-tokenizer").select2({
			tags: true,
			tokenSeparators: [',', ' ']
		})

		$(document).ready(function () {

			$.ajax({
				type: 'GET',
				dataType: "json",
				contentType: "application/json",
				url: '/sprint/GetAllSprints',
				success: function (result) {
					google.charts.load('current', {
						'packages': ['corechart']
					});
					google.charts.setOnLoadCallback(function () {
						drawChart(result);
						drawChart_u(result);
						drawChart_t(result);
						drawChart_un(result);
					});
				}
			});

			function drawChart(result) {
				console.log(result);
				var data = new google.visualization.DataTable();
				data.addColumn('string', 'SprintTitle');
				data.addColumn('number', 'جمع ساعت');
				var dataArray = [];
				$.each(result.sprintsReport, function (i, obj) {
					console.log(obj)
					dataArray.push([obj.sprintTitle, obj.sumOfTimeOfTasks]);
				});

				data.addRows(dataArray);

				var piechart_options = {
					title: 'چارت جمع ساعت های هر اسپرینت به صورت درصد',
					width: 400,
					height: 300
				};
				var piechart = new google.visualization.PieChart(document
					.getElementById('piechart_div'));
				piechart.draw(data, piechart_options);

				var barchart_options = {
					title: 'چارت جمع ساعت های هر اسپرینت',
					width: 400,
					height: 300,
					legend: 'none'
				};
				var barchart = new google.visualization.ColumnChart(document
					.getElementById('barchart_div'));
				barchart.draw(data, barchart_options);
			}

			function drawChart_un(result) {
				console.log(result);
				var data = new google.visualization.DataTable();
				data.addColumn('string', 'UnitName');
				data.addColumn('number', 'جمع ساعت');
				var dataArray = [];
				$.each(result.unitsReport, function (i, obj) {
					console.log(obj)
					dataArray.push([obj.unitName, obj.sumOfTimeOfTasks]);
				});

				data.addRows(dataArray);

				var piechart_options = {
					title: 'چارت جمع ساعت های هر واحد در تمامی اسپرینت ها',
					width: 400,
					height: 300
				};
				var piechart = new google.visualization.PieChart(document
					.getElementById('piechart_div_un'));
				piechart.draw(data, piechart_options);
			}

			function drawChart_t(result) {
				console.log(result);
				var data = new google.visualization.DataTable();
				data.addColumn('string', 'TaskTypeTitle');
				data.addColumn('number', 'جمع ساعت');
				var dataArray = [];
				$.each(result.taskTypesReport, function (i, obj) {
					console.log(obj)
					dataArray.push([obj.taskTypeTitle, obj.sumOfTimeOfTasks]);
				});

				data.addRows(dataArray);

				var piechart_options = {
					title: 'چارت درصد تسک ها با توجه به نوع تسک ',
					width: 400,
					height: 300
				};
				var piechart = new google.visualization.PieChart(document
					.getElementById('piechart_div'));
				piechart.draw(data, piechart_options);
			}

			function drawChart_u(result) {
				console.log(result);
				var data = new google.visualization.DataTable();
				data.addColumn('string', 'UserName');
				data.addColumn('number', 'wet4rf');
				var dataArray = [];
				$.each(result.usersReport, function (i, obj) {
					console.log(obj)
					dataArray.push([obj.userName, obj.sumOfTimeOfTasks]);
				});

				data.addRows(dataArray);

				var culomnchart_options = {
					title: 'چارت جمع ساعت های هر کاربر در کل اسپرینت ها',
					width: 400,
					height: 300,
					legend: 'none'
				};
				var columnChart = new google.visualization.ColumnChart(document
					.getElementById('column_div_u'));
				columnChart.draw(data, culomnchart_options);
			}

		});

	</script>
}
