

<form asp-action="ForgetPassword" asp-controller="Auth" method="post">
	<div class="mb-3">
		<div class="mb-3 col-3">
			<label for="email" class="form-label">ایمیل </label>
			<input name="email" class="form-control" required>
		</div>
		<input type="submit" class="btn btn-outline-success" value="ثبت" />
		<br />
		<span class="text-success">@ViewBag.Successful</span>
		<span class="text-danger">@ViewBag.ErrorMessage</span>
		<div />
</form>