@using ITTasks.Models.DTOS.Auth;
@model LoginDto



<div style="width:20%">
    @*<ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="tab-login" data-mdb-toggle="pill" href="/Auth/Login" role="tab"
               aria-controls="pills-login" aria-selected="true">Login</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="tab-register" data-mdb-toggle="pill" href="#pills-register" role="tab"
               aria-controls="pills-register" aria-selected="false">Register</a>
        </li>
    </ul>*@

    <div class="tab-content">
        <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
            <form asp-action="Login" asp-controller="Auth" method="post">

                <div class="form-outline mb-4">
                    <label class="form-label" for="loginName">نام کاربری</label>
                    <input asp-for="UserName" id="loginName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>

                <div class="form-outline mb-4">
                    <label class="form-label" for="loginPassword">رمز</label>
                    <input type="password" asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="row mb-4">
                    <div class="col-md-6 d-flex justify-content-center">
                        <div class="form-check mb-3 mb-md-0">
                            <label class="form-check-label" for="loginCheck"> مرا به خاطر بسپار </label>
                            <input class="form-check-input" asp-for="RememberMe" type="checkbox" id="loginCheck" />
                        </div>
                    </div>

                    <div class="col-md-6 d-flex justify-content-center">
                        <a href="/Auth/ForgetPassword">فراموشی رمز عبور؟</a>
                    </div>
                </div>

                <input type="submit" class="btn btn-primary btn-block mb-4" value="ورود" />

                <div class="text-center">
                    <p>حساب کاربری ندارید؟ <a href="/Auth/SignUp">ثبت نام</a></p>
                </div>
                <br />
                <span class="text-danger">@ViewBag.ErrorMessage</span>
            </form>
        </div>
       
    </div>
</div>


@*<div class="res">
	<form asp-action="Login" asp-controller="Auth" method="post">
		<div class="mb-3">
			<div class="mb-3 col-3">
				<label class="form-label">نام کاربر </label>
				<input asp-for="UserName" class="form-control">
				<span asp-validation-for="UserName" class="text-danger"></span>
			</div>
		</div>
		<div class="mb-3">
			<div class="mb-3 col-3">
				<label class="form-label">رمز </label>
				<input asp-for="Password" class="form-control">
				<span asp-validation-for="Password" class="text-danger"></span>
			</div>
		</div>
		<div class="mb-3">
			<div class="mb-3 col-3">
				<label asp-for="RememberMe" for="checkrememberme">مرا به خاطر بسپار </label>
				<input asp-for="RememberMe" class="form-check-input" id="checkrememberme">
			</div>
		</div>

		<input type="submit" class="btn btn-primary" value="ورود" /><br />
		<span class="text-danger">@ViewBag.ErrorMessage</span>
	</form>
</div>*@


